
.margin-right {
    margin-right: 5px;
  }

.button-size {
    width: 20px;
    height: 25px;
    padding: 0px;

    i {
        font-size: 12px;
        padding: 0px;
        margin: 0px;
    }
}

.buttonCrear:hover {
    color: white !important;
}