.mainContainer {
    padding: 10px;
}

.buttonCrear:hover {
    color: white !important;
}

.buttonCrear {
    color: white !important;
    display: inline-block;
}

input[type="file"] {
    display: none;
}

.closeButton {
    position: absolute;
    right: 5px;
    display: block;
    padding-top: 10px;
}